scikit-learn
numpy
pandas
matplotlib
seaborn
scipy
xgboost
lightgbm
catboost
keras
torch
torchvision
pytorch-lightning
statsmodels
plotly
streamlit
google-generativeai
streamlit_lottie
